#container {

    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;

}

h1 {

    font-size: 32px;
    margin-bottom: 20px;

}

a {

    color: #ffc400;

    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;

}

a:hover {

    text-decoration: underline;

}

.box {

    background: #1b1b1b;
    padding: 25px;
    border-radius: 12px;
    border: 2px solid #2a2a2a;

}

.top-nav {
    
    position: fixed;
    top: 15px;
    left: 20px;
    background: #1b1b1b;
    border: 2px solid #2a2a2a;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    transition: 0.25s;
    z-index: 999;

}

.top-nav:hover {

    border-color: #ffc400;
    transform: scale(1.05);

}

.league-table {

    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: white;
    background: #141414;

}

.league-table thead {

    background: #1f1f1f;

}

.league-table th, .league-table td {

    padding: 12px 10px;
    border-bottom: 1px solid #2f2f2f;
    text-align: center;

}

.league-table tbody tr:hover {

    background: #202020;

}

.league-table tr td:nth-child(2) {

    text-align: left;
    padding-left: 20px;

}