#container {

    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;

}

h1 {

    font-size: 32px;
    margin-bottom: 20px;

}

.arrow {

    --arrow-width: 100px;

    width: var(--arrow-width);

    transition: var(--tran-02);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.arrowbar {

    width: 15px;
    height: 3px;
    background-color: var(--primary-color);

    display: flex;
    justify-content: center;
    text-align: center;

    position: absolute;
    transform: translateX(-28px);

}

.arrowshaft {
    content: '';
    position: absolute;
  
    transform: 
        translateX(-35px)
        translateY(-0.3px); 

    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  
    border-right: 9px solid var(--primary-color);

}

.back {

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--primary-color);
    padding: 10px;

    font-size: 16px;
    font-weight: 500;

    transition: var(--tran-02);

    margin-left: 28px;

}

@keyframes arrowFill {

    100% {
        width: calc(var(--arrow-width) - 17px);
    }

    0% {
        width: 0;
    }

}

.arrow:hover::after {

    content: '';
    position: absolute;
    width: 0px;
    height: 2px;

    background-color: var(--primary-color);

    animation: arrowFill 0.2s forwards ease;

    transition: var(--tran-02);
    transform: translateY(10px);

}

.box {

    background: #1b1b1b;
    padding: 25px;
    border-radius: 12px;
    border: 2px solid #2a2a2a;

}

.league-table {

    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: white;
    background: #141414;

}

.league-table thead {

    background: #1f1f1f;

}

.league-table th, .league-table td {

    padding: 12px 10px;
    border-bottom: 1px solid #2f2f2f;
    text-align: center;

}

.league-table tbody tr:hover {

    background: #202020;

}

.league-table tr td:nth-child(2) {

    text-align: left;
    padding-left: 20px;

}