header {

    width: 100%;
    height: var(--header-height);

    background-color: var(--sidebar-color);

    border-bottom: 3px solid var(--bar-color);

    display: flex;
    justify-content: space-around;
    align-items: center;

}

header a span h1 {

    margin: 0;

    font-size: 26px;
    letter-spacing: 4px;

}

header a span h2 {

    font-size: 12px;
    text-decoration: underline;

}

header a {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    gap: 20px;

}

header img {

    --img-header-padding: 10px;

    width: calc(var(--header-height) - var(--img-header-padding));
    height: calc(var(--header-height) - var(--img-header-padding));

    border-radius: 3px;

}

nav {

    display: flex;
    justify-content: center;
    align-items: center;

}

nav a {

    transition: var(--tran-02);

    padding: 15px;

    font-size: 20px;
    font-weight: 500;
    text-decoration: none;

}

nav a:hover {

    color: var(--header-text-color-tran);

}

/* zmiana wielkości strony responsywność */
.button {

    display: none;

}

@media (max-width: 1200px) {

    nav {

        display: none;

    }

    header:has(.button.active) nav {

        display: flex;

        z-index: 1;

    }

    .button {

        width: 70px;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

    }

    /* bars normal */
    .bars {

        --bars-width: 40px;
        --bars-height: 6px;

        --bars-border-radius: 2px;

        width: var(--bars-width);
        height: var(--bars-height);

        transition: var(--tran-02);
        background-color: var(--text-color);

        border-radius: var(--bars-border-radius);

    }

    .bars::after {

        content: '';
        background-color: var(--text-color);

        width: var(--bars-width);
        height: var(--bars-height);

        position: absolute;

        transition: var(--tran-02);
        transform: translateY(13px);

        border-radius: var(--bars-border-radius);

    }

    .bars::before {

        content: '';
        background-color: var(--text-color);

        width: var(--bars-width);
        height: var(--bars-height);

        position: absolute;

        transition: var(--tran-02);
        transform: translateY(-13px);

        border-radius: var(--bars-border-radius);

    }

    /* bars close */
    .button.active .bars {

        --bars-width: 40px;
        --bars-height: 6px;

        width: var(--bars-width);
        height: var(--bars-height);

        transition: var(--tran-02);
        border-radius: var(--bars-border-radius);

        background-color: transparent;

    }

    .button.active .bars::after {

        content: '';
        background-color: var(--text-color);

        width: var(--bars-width);
        height: var(--bars-height);

        position: absolute;

        transition: var(--tran-02);
        transform: translateY(0px) rotate(-45deg);

        border-radius: var(--bars-border-radius);

    }

    .button.active .bars::before {

        content: '';
        background-color: var(--text-color);

        width: var(--bars-width);
        height: var(--bars-height);

        position: absolute;

        transition: var(--tran-02);
        transform: translateY(0px) rotate(45deg);

        border-radius: var(--bars-border-radius);

    }

    /* header:has(.button:hover) nav,
    header:has(nav:hover) nav {

        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-bottom: 20px;
        gap: 3px;

        position: absolute;
        top: var(--header-height);

        background-color: var(--sidebar-color);

        border-bottom: 3px solid var(--bar-color);

    } */

    header:has(.button.active) nav {

        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-bottom: 20px;
        gap: 3px;

        position: absolute;
        top: var(--header-height);

        background-color: var(--sidebar-color);

        border-bottom: 3px solid var(--bar-color);

    }

    nav a {

        width: 80%;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: var(--tran-02);

        padding: 5px;
        border-radius: 10px;

        font-size: 20px;
        font-weight: 500;
        text-decoration: none;

    }

    nav a:hover {

        color: var(--header-text-color-tran);
        background-color: var(--sidebar-color-ultra-dark);

    }


}