header {

    width: 100%;
    padding: 20px;

    background-color: var(--sidebar-color);

    border-bottom: 3px solid var(--bar-color);

    display: flex;
    justify-content: space-around;
    align-items: center;

}

header h1 {

    margin: 0;

    font-size: 26px;
    letter-spacing: 1px;

}

nav {

    display: flex;
    justify-content: center;
    align-items: center;

}

nav a {

    color: var(--text-color);

    transition: var(--tran-02);

    margin-left: 25px;

    font-size: 18px;
    font-weight: 500;
    text-decoration: none;


}

nav a:hover {

    color: var(--header-text-color-tran);

}