@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Lato&display=swap');


/* Tutaj są wszystkie style i zmienne które są potzrebne do edycji i łatwych zmian */
* {

    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;

    margin: 0;
    padding: 0;

    overflow-x: hidden;

}

:root {
  /* ===================== COLOR ===================== */
  
    --body-color: #111;

    --sidebar-color: #1a1a1a;
    --sidebar-color-ultra-dark: #000000;

    --header-text-color-tran: #0af;
    --bar-color: #333;

    --page-elements-color: #1e1e1e;
    --primary-color: #008000;
    --primary-color-switch: #008000;
    --primary-color-light: #3A3B3C;

    --toggle-color: #FFF;

    --text-color: #CCC;
    --text-color-ultra-white: #ffffff;
    --text-color-icon: #CCC;

    --block-color-dark: #000000;
    --button-on: #00d100;
  
  /* ===================== TRANSITION ===================== */
  
    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
  
    --header-height: 80px;
    --page-width: 1000px;

    --Logo-size: 120px;
    --Logo-padding: 10px;
  
}

body {

    margin: 0;
    padding: 0;
    gap: 40px;

    font-family: 'Roboto', sans-serif;

    background-color: var(--body-color);
    color: var(--text-color);

}

a {

    text-decoration: none;
    color: var(--text-color);

}

section {

    min-height: 100vh;

}


/* Footer */

footer {

    width: 100%;
    padding: 10px;

    background: var(--sidebar-color);
    border-top: 2px solid var(--bar-color);

    display: flex;
    justify-content: center;
    align-items: center;

} 

footer > p {

    text-align: center;

}