/* --- KAFELKI LIG --- */
#container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */

    gap: 40px;
    padding: 50px;

}

.league-card {

    width: 260px;
    height: 180px;

    background-color: var(--page-elements-color);

    border-radius: 14px;

    overflow: hidden;
    text-align: center;

    box-shadow: 0 6px 18px rgba(0,0,0,0.35);

    transition: var(--tran-03);

}

.league-card:hover {

    transform: translateY(-8px);
    -webkit-box-shadow: 0px 27px 45px -9px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 27px 45px -9px rgba(0,0,0,0.45);
    box-shadow: 0px 27px 45px -9px rgba(0,0,0,0.45);

}

.league-card img {

    width: 100%;
    height: 100px;
    
    object-fit: cover;

}

.league-card h2 {

    margin-top: 12px;
    font-size: 26px;
    font-weight: 700;

}