/* Menu */
header {
    
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header nav {

    width: 100%;
    height: var(--header-height);

    position: fixed;
    top: 0;

    background-color: var(--sidebar-color-darker);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

nav ul {

    width: var(--page-width);
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

nav ul li {

    --menu-button-size: clac(var(--page-width) / 10);

    width: var(--menu-button-size);
    height: 100%;
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: center;

}

nav ul li a {

    width: var(--menu-button-size);
    height: 100%;
    padding: 0 20px 0 20px;

    text-decoration: none;
    white-space: nowrap;

    color: var(--text-color);
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;

}

nav ul li a.active {
    background-color: var(--sidebar-color);
}

nav ul li a:hover {

    background-color: var(--sidebar-color);

}

/* howanie się menu */
.hide {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: calc((var(--menu-button-size) * 3) - var(--page-width));
    height: 100%;


}

.hide li {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/* Logo + Text */
.logo-area {

    --logo-size: 100px;

    width: var(--page-width);
    height: calc(var(--logo-size) + var(--logo-padding));

    display: flex;
    justify-content: end;
    align-items: center;

    background-color: var(--sidebar-color);

}

.logo-area > .space {

    --logo-padding: 10px;
    padding: var(--logo-padding);

    max-height: var(--logo-size);
    max-width: var(--logo-size);

    overflow-y: hidden;

}

.logo-area > .space > img {

    width: 100%;
    height: 100%;

}

.logo-area > h1 {
    
    width: calc(var(--page-width) - var(--logo-size));

    padding-left: 20px;

    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: var(--text-color);

    display: flex;
    align-items: center;


}

/* Menu Zwijane */
.li-menus {

    display: none;

}

.rollMenu {

    display: none;

}

@media (max-width: 1014px) {

    /* Menu */
    header {

        --media-menu-button-size: calc(var(--page-width) / 4);

        width: 100%;
        padding: 0;
        margin: 0;

    }

    header > nav {

        width: 100%;

    }

    nav > ul {

        width: 100%;
        height: 100%;

    }

    nav > ul > li {

        height: 100%;
        width: var(--media-menu-button-size);

    }

    nav > ul > li > a {

        height: 100%;
        width: var(--media-menu-button-size);

    }

    /* howanie się menu */
    .hide {

        display: none;

    }

    /* Logo + Text */
    .logo-area {

        width: 100%;

    }

    header > a {
    
        width: 100%;
    
    }

    /* Menu Zwijane */
    .rollMenu {

        display: block;

    }

    .rollMenu ul {

        display: none;

    }

    .menu > ul {

        display: block;

        width: 100%;

        position: absolute;
        left: 0;
        top: var(--header-height);

        background-color: red;

    }

    .icon-menus:hover,
    .icon-menus:focus {

        background-color: red;

    }
    
    .icon-menus:hover + .menu ul,
    .icon-menus:focus + .menu ul, 
    .menu ul:hover {

        display: block;

        position: absolute;
        left: 0;
        top: var(--header-height);
        gap: 10px;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    
    }

    .li-menus {

        display: flex;
        justify-content: center;
        align-items: center;

        height: var(--header-height);
        width: var(--media-menu-button-size);

    }

    .li-menus:hover {

        cursor: pointer;
        background-color: var(--sidebar-color); 

    }

    .icon-menus {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;

        gap: 2px;

    }

    .bar {

        --space-bar: 13px;

        background-color: var(--text-color);

        height: 3px;
        width: 20px;

        gap: 10px;

    }

    .bar::after {

        content: '';
        background-color: var(--text-color);
        height: 3px;
        width: 20px;
        
        position: absolute;
        top: var(--space-bar);

    }

    .bar::before {

        content: '';
        background-color: var(--text-color);
        height: 3px;
        width: 20px;
        
        position: absolute;
        bottom: calc(var(--space-bar) - 1px);

    }

}