@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Lato&display=swap');


/* Tutaj są wszystkie style i zmienne które są potzrebne do edycji i łatwych zmian */
* {

    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;

    margin: 0;
    padding: 0;

    overflow-x: hidden;

}

:root {
  /* ===================== COLOR ===================== */
  
    --body-color: #323334;

    --sidebar-color: #242526;
    --sidebar-color-darker: #161616;

    --primary-color: #008000;
    --primary-color-switch: #008000;
    --primary-color-light: #3A3B3C;

    --toggle-color: #FFF;

    --text-color: #CCC;
    --text-color-white: #FFF;
    --text-color-icon: #CCC;

    --block-color-dark: #000000;
    --button-on: #00d100;
  
  /* ===================== TRANSITION ===================== */
  
    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
  
    --header-height: 40px;
    --page-width: 1000px;

    --Logo-size: 120px;
    --Logo-padding: 10px;
  
}

body {

    margin: 0;
    /* padding: var(--header-height) 0 0 0; */
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);
    scroll-padding-top: var(--header-height);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

a {

    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;

}

.container {

    width: var(--page-width);
    background-color: var(--sidebar-color);
    color: var(--text-color);

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 20px 0 20px 0;

}

@media (max-width: 1014px) {

    .container {

        width: 100%;

    }

}
