/* Menu */
header {
    
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header > nav {

    width: 100%;
    height: var(--header-height);

    background-color: var(--sidebar-color-darker);

}

nav > ul {

    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

nav > ul > li {

    height: 100%;
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: center;

}

nav > ul > li > a {

    height: 100%;
    padding: 0 20px 0 20px;

    text-decoration: none;

    color: var(--text-color);
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;

}

/* Logo + Text */
.logo-area {

    --logo-height: 100px;

    width: 1000px;
    height: var(--logo-height);

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;

    background-color: var(--sidebar-color);

}

img {

    --logo-padding: 10px;

    height: calc(var(--logo-height) - var(--logo-padding));
    padding: var(--logo-padding);

    background-color: red;

}

h1 {

    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: var(--text-color);

    display: flex;
    align-items: end;

    padding-left: 20px;

}

@media (max-width: 1000px) {

    /* Menu */
    header {
        
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    header > nav {

        width: 100%;
        height: var(--header-height);

        background-color: var(--sidebar-color-darker);

    }

    nav > ul {

        width: 100%;
        height: 100%;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    nav > ul > li {

        height: 100%;
        list-style-type: none;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    nav > ul > li > a {

        height: 100%;
        padding: 0 20px 0 20px;

        text-decoration: none;

        color: var(--text-color);
        font-weight: 500;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    /* Logo + Text */
    .logo-area {
    
        width: 100%;
    
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: end;
    
        background-color: var(--sidebar-color);
    
        margin: 0 20px 0 20px;
    
    }
    
    img {
    
        width: calc(var(--header-height) + 30px);
    
    }
    
    h1 {
    
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: var(--text-color);
    
        display: flex;
        align-items: end;
    
        padding-left: 20px;
    
    }

}