/* Menu */
header {
    
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header > nav {

    width: 100%;
    height: var(--header-height);

    position: fixed;
    top: 0;

    background-color: var(--sidebar-color-darker);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

nav > ul {

    width: var(--page-width);
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

nav > ul > li {

    width: 100%;
    height: 100%;
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: center;

}

nav > ul > li > a {

    width: 100%;
    height: 100%;
    padding: 0 20px 0 20px;

    text-decoration: none;
    white-space: nowrap;

    color: var(--text-color);
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;

}

nav > ul > li > a.active {
    background-color: var(--sidebar-color);
}

nav > ul > li > a:hover {

    background-color: var(--sidebar-color);

}

/* Logo + Text */
.logo-area {

    --logo-height: 100px;

    width: var(--page-width);
    height: calc(var(--logo-height) + var(--logo-padding));

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    background-color: var(--sidebar-color);

}

.logo-area > img {

    --logo-padding: 10px;

    border-radius: 12px;

    height: calc(var(--logo-height) - var(--logo-padding));
    padding: var(--logo-padding);

}

.logo-area > h1 {
    
    width: 100%;

    padding-left: 20px;

    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: var(--text-color);

    display: flex;
    align-items: center;


}

@media (max-width: 1000px) {

    /* Menu */
    header {
        
        width: 100%;

    }

    header > nav {

        width: 100%;

    }

    nav > ul {

        width: 100%;
        height: 100%;

    }

    nav > ul > li {

        height: 100%;

    }

    nav > ul > li > a {

        height: 100%;

    }

    /* Logo + Text */
    .logo-area {

        width: 100%;

    }

    header > a {
    
        width: 100%;
    
    }

}