@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Lato&display=swap');

* {

    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;

    margin: 0;
    padding: 0;

}

:root {
  /* ===================== COLOR ===================== */
  
    --body-color: #323334;
    --sidebar-color: #242526;
    --sidebar-color-darker: #161616;
    --primary-color: #008000;
    --primary-color-switch: #008000;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
    --text-color-icon: #CCC;
    --block-color-dark: #000000;
    --button-on: #00d100;
  
  /* ===================== TRANSITION ===================== */
  
    --tran-01: all 0.1s ease;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
  
    --header-height: 40px;
    --width-left: 300px;
  
}

body {

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);

}


/* HEADER
.top-header {
    display: flex;
    justify-content: space-between;
    background: #1c1c1c;
    padding: 10px;
    border-bottom: 2px solid #333;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 40px;
}

.right-panels {
    display: flex;
    gap: 10px;
}

.panel.small {
    background: #2a2a2a;
    padding: 10px;
    border-radius: 6px;
    width: 160px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #000;
    padding: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.layout {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.left-col,
.right-col {
    width: 200px;
}

.center-col {
    width: 600px;
}

.panel {
    background: #222;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.big {
    height: 180px;
}

.main-img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;
}

.discord-panel {
    background: #4a5cff;
    color: white;
    text-align: center;
}

.discord-btn {
    display: block;
    margin-top: 15px;
    padding: 10px;
    background: #fff;
    color: #000;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
}

footer {
    background: #000;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    color: #bbb;
} */